﻿<center>
  <span style="font-size: large;"><b>Biblioteka podprogramów i komponentów</b></span><br />
  <span style="font-size: small;">
    <i> mgr Grzegorz Skoczylas</i>, e-mail: <i>
    <a href="mailto:gskoczylas+GSkPasLib@gmail.com?subject=GSkPasLib">
      gskoczylas+GSkPasLib@gmail.com
    </a> </i>
  </span>
</center>
<hr />
